<div class="card">
    <div class="card-body">
    <h1 class="card-title">Dashboard</h1>
    <table>
        <thead>
        <tr>
            <th>Activity</th>
            <th>Entry</th>
        </tr>
        </thead>

        <tbody>
        <div class="card-text">
            <%= render 'exerciseform' %>
        </div>
        </tbody>
    </table>
    <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
        <%= link_to '+ Add New Exercise', new_exercise_path, class: 'btn btn-success text-light me-md-2' %>
    </div>
    </div>
</div>
