<%= form_with(model: [exercise, entry]) do |f| %>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight, size: 1 %> lbs
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>

  
<% end %>
