<div class="container">
    <div class='card'>
        <h1><%= link_to @exercise.activity, @exercise %></h1>

        <%= render 'form', exercise: @exercise %>

        <div>
            <%= link_to 'Back', exercises_path %>
        </div>
    </div>
</div>