<div class='card'>
    <div class='card-title' >
        <h1>Editing Activity</h1>
    </div>
    <div class='card-body'>
        <%= render 'form', exercise: @exercise %>
    </div>
</div>

<div class='card'>
    <%= button_to 'Delete Activity', @exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-end' %>
</div>